html, body{
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  font-style: normal;
  font-variant: normal;
  margin: 0;
  padding: 0;
  min-width: 900px;
}

#Main_bar{
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #0C1B29;
}

#button_bar{
  margin: 0 auto;
  height: 40px;
}

.home_logo, .search_bar, .page_link{
  margin-top: 5px;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

form{
  display: flex;
  align-items:center;
  padding: 0;
}

.search_form{
  margin: 0 auto;
  height: 30px;
  width: 250px;
  border-radius: 5px;
  background-color: grey;
}

.button{
  margin: 0 auto;
  margin-left: 5px;
  border-radius: 5px;
  background-color: grey;
  border: none;
  height: 30px;
  width: 30px;
  padding: 0;
}
.button > img{
  height: 25px;
  width: 25px;
}

.button:hover{
  background: #1B1E2B;
}

.bar_item{
  margin: 0;
  padding: 10px;
  color: whitesmoke;
  text-decoration: none;
  padding: 3px;
  margin: 1px;
  font-weight: bold;
}

a:hover{
  color: #2a5a78;
  text-decoration: overline;
  background-color: whitesmoke;
  border-radius: 5px;
}

main{
  background-color: #0C1B29;
}

#Main_content{
  padding-bottom: 20px;
}

#Main_content > header{
  background-image: url(images/GameCenterLobi-background.png);
  background-size: contain;
  background-attachment: fixed;
  background-position: top center ;
  background-repeat: no-repeat;
  height: 450px;
}

.content_body{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.content{
  width: 80vw;
}

.page_menu{
  height: 130px;
  width: 200px;
  margin:5px 20px 5px auto;
  padding:10px;
  background-color: whitesmoke;
  border-radius: 10px;
}

.page_menu a{
  color: #285b8a;
}

.page_menu a:hover{
  color: #8c8c8c;
}

.content{
  width:65%;
  margin: 5px auto 5px 20px;
  padding: 20px;
  background-color: whitesmoke;
  border-radius: 10px;
}

.news{
  border-style: solid;
  border-radius: 10px;
  border-width: 2px;
  border-color: grey;
  padding: 20px;
  margin: 10px;
  display: flex;
  background-color: whitesmoke;
}

.news_img > img{
  width: 310px;
}

.news_txt{
  margin-left: 20px;
}

.gamesOffer{
  display: flex;
  flex-wrap: wrap;
}

.game, .giftCard, .upComing{
  width: 200px;
  margin: 15px auto 15px auto;
  background-color: #556877;
  border-radius: 10px;
}

.game > .img, .img > img, .giftCard > img, .upComing > img{
  margin: 0 auto 15px auto;
  display: block;
  border-radius: 10px 10px 0 0;
  width: 100%;
}

.img:hover{
  background-color: #556877;
}

.buy_now{
  border-radius: 0 0 10px 10px;
  width: 100%;
  margin-bottom: 0;
  background-color: #0C1B29;
  color: white;
  border: none;
}

.buy_now:hover{
  background: rgba(12, 27, 41, 0.4);
  color: black;
}

button > p{
  padding: 0;
  margin: 0;
}

#Main_foot{
  bottom: 0;
  background: linear-gradient(160deg, #2b241e 10%, #121317 50%, #232429 90%);
  height: 150px;
  width: 100%;
  color: #d2b6a1
}

.fa {
  padding: 10px;
  text-align: center;
  text-decoration: none;
  color:white;
}

.fa:hover{
  opacity: 0.7;
  color: whitesmoke;
  text-decoration:none;
  background-color: #3d454a;
}
